<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="book.DAL.Properties.Settings.booksConnectionString"
            connectionString="Data Source=.;Initial Catalog=books;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="book.DAL.Properties.Settings.bookConnectionString"
            connectionString="Data Source=.;Initial Catalog=book;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>